
.game-board {
  display: flex;
  
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;

  .side-column {
    width: 200px;
  }

  .main-column {
    width: calc(100% - 400px);

  }
}

.current-player {
  font-weight: bold;
}


