@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --text: #bbbbbb;
  --text-h: #08060d;
  --bg: #fff;
  --border: #b9b9b9;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: "VT323", monospace;
  --heading: "VT323", monospace;
  --mono: "VT323", monospace;

  font-family: var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  background-image: url("assets/bg.png");
  background-attachment: fixed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

button, input, select, textarea {
  font-family: "VT323", monospace;
}


#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}

*, *::before, *::after {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  color: white;
  margin: 0;
  letter-spacing: -0.24px;
  font-weight: bold;
}

h2 {
  color: white;
  margin: 0;
  letter-spacing: -0.24px;
} 

p {
  margin: 0;
}

